<nav class="navbar custom-navbar navbar-expand-lg py-2 theme-white">
    <div class="container-fluid px-0">
        <a href="javascript:void(0);" class="menu_toggle"><i class="fa fa-align-left"></i></a>
        <div class="image">
            <a [routerLink]="'/'"><img src="assets/images/new_logo.png" style="width: 65px; height: 60px;"
                    alt="User"></a>
        </div>

        <!-- <div id="navbar_main">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link nav-link-icon" href="javascript:void(0);" id="navbar_1_dropdown_3" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0);">
                            <h5 class="mb-0">Mike Thomas</h5>
                            <small>Account Manager</small>
                        </a>
                    </div>
                </li>
            </ul>
        </div> -->
    </div>
</nav>