<div class="right-text flex-column">
    <h1 class="mb-3">
        <label class="itmb-text-color fw-bold">Our Members </label>
        <span class="text-white"> are </span> <br>
        <label class="text-white">all around the world</label>
    </h1>

    <p class="text-sm text-white font-extralight">Over 10000 investors join us monthly </p>

    <div class="right-side-img-container">
        <div class="right-side-images-1">
            <img src="assets/images/v1.svg" alt="" width="100%">
        </div>

        <div class="right-side-images-2">
            <img src="assets/images/v2.svg" alt="" width="100%">
        </div>

        <div class="right-side-images-3">
            <img src="assets/images/v3.svg" alt="" width="100%">
        </div>

        <div class="right-side-images-4">
            <img src="assets/images/v4.svg" alt="" width="100%">
        </div>

        <div class="right-side-images-5">
            <img src="assets/images/v5.svg" alt="" width="100%">
        </div>
    </div>
</div>