<div class="right-text flex-column">
    <h1 class="mb-3">
        <label class="itmb-text-color fw-bold">Our Members </label>
        <span class="text-white"> are </span> <br>
        <label class="text-white">all around the world</label>
    </h1>

    <p class="text-sm text-white font-extralight">Over 10000 investors join us monthly </p>

    <div class="right-side-img-container">
        <div class="right-side-images-1">
            <img [src]="imageV1" alt="itmb-v1-logo"  width="100%">
        </div>

        <div class="right-side-images-2">
            <img [src]="imageV2" alt="itmb-v2-logo" width="100%">
        </div>

        <div class="right-side-images-3">
            <img [src]="imageV3" alt="itmb-v3-logo"  width="100%">
        </div>

        <div class="right-side-images-4">
            <img [src]="imageV4" alt="itmb-logo"  width="100%">
        </div>

        <div class="right-side-images-5">
            <img [src]="imageV5" alt="itmb-v5-logo"  alt="" width="100%">
        </div>
    </div>
</div>